body{
    margin: 0px;
    padding: 0%;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
.header{
    text-align: center;
    background-color: #ff6c04;
    /* margin-top: -16px; */
    width: 100%;
    /* border: solid; */
    height: 30px;
    padding-top: 11.5px;
    
    
}
.header>a{
    color: white;
    /* margin-top: 50%; */
    /* border: solid; */
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.1;
    
}
.header>a:hover{
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding:  0px 120px; */
    width: 100%;
    height: 75px;
    font-size: 17px;
    /* border: solid 2px; */
}
#check{
    display: none;
    
}
.labelicons{
    position: absolute;
    right: 30px;
    font-size: 30px;
    display: none;
    cursor: pointer;
    
}
.navicon{
    display: inline;
    padding: 5px 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.logo{
    width: 170px;
    margin-right: 100px;
}
.navlist{
    margin-left: -100px;
}
.icons3 i{
    font-size: 23px;
    padding-left: 13px;
    
}
#cart{
    font-size: 28px;
}
.section{
    width: 100%;
}
.section1image img{
    width: 1060px;
    
}
.section1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#section1head{
    font-weight: 400;
}
.section1content{
    margin-right: 70px;
}
.section1content>h1{
    font-weight: 300;
    font-size: 35px
}
.section1content>button{
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    
}
.sectioncontent{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.sectionimage>img{
    width: 300px;
}

.sectionheading{
    height: 150px;
}
.sectionheading>h1{
    padding-top: 60px;
    margin-left: 110px;
    font-size: 35px;
    font-weight: 450;
    
}
.sectionimage s{
    margin-left: 10px;
}
.sectionimage button{
    width: 300px;
    height: 50px;
    color: white;
    background-color: black;
}
.zoom img{
    width: 300px;
    transition: width 1s;
}
.zoom img:hover{
    width: 400px;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
    
}
.slider{
    margin: 0% 10px;
    width: 80px;
    /* background-color: black; */
    height: 7px;
    border-radius: 5px;
}
.slider-track{
    background-color: lightgrey;
    height: 7px;
    border-radius: 5px;
    position: relative;
    width: 80px;
}
.slider-thumb{
    background-color: black;
    height: 7px;
    position: absolute;
    width: 40px;
    border-radius: 5px;
}
#leftarrow{
    color: grey;
}
#arrowbutton>button{
    background-color: white;
    color: black;
    outline: 1px black;
    width: 200px;
    height: 50px;
    align-items: center;
    
}
#arrowbutton{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    height: 275px;
    
}
.flex img{
    height: 225px;
    transition: height .5s;
}
.flex img:hover{
    height:205px
}
.flex:has(#img32:hover) #name32{
    text-decoration: underline;
}
.flex:has(#img31:hover) #name31{
    text-decoration: underline;
}
.flex:has(#img33:hover) #name33{
    text-decoration: underline;
}
.flex:has(#img34:hover) #name34{
    text-decoration: underline;
}
.flex:has(#img42:hover) #name42{
    text-decoration: underline;
}
.flex:has(#img41:hover) #name41{
    text-decoration: underline;
}
.flex:has(#img43:hover) #name43{
    text-decoration: underline;
}
.flex:has(#img44:hover) #name44{
    text-decoration: underline;
}

.b5{
    margin-top: 35px;
}
.section6{
    margin-top: 150px;
    text-align: center;
}
.section6head>h1{
    letter-spacing: .5px;
    word-spacing: 7px;
    font-weight: 500;
}
.section6image{
    margin-top: 100px;
    padding: 0% 20px;
}
.section6image>img{
    width: 60px;
}
.section7image>img{
    width: 600px;
    
}
.section7image{
    text-align: center;
    background-color: #f2efec;
    height: 870px;
}
.section7image button{
    width: 200px;
    height: 50px;
    font-size: 17px;
    outline: 1px black;
}
.section8{
    margin-top: 110px;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    background-color: #1b1a1a;
    color: rgba(255, 255, 255, 0.642);
    border-bottom: solid rgb(255, 255, 255);
    
}
.sectionparts{
    padding: 0px 100px;
    width: 100%;
    /* border: solid; */
}
.section8 a{
    display: block;
    color: rgba(255, 255, 255, 0.642);
    line-height: 1.8;
}
.section8 a:hover{
    text-decoration: none;
}
.sectionpart3 a{
    text-decoration: underline;
    display: inline;
}
.sectionpart3 a:hover{
    text-decoration: underline;
}
.sectionpart3 i{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.642);
}

footer{
    margin-top: -18.5px;
    background-color: #1b1a1a;
    color:  rgba(255, 255, 255, 0.642);
    height: 100px;
}
footer p{
    margin-left: 100px;
    padding-top: 25px;
    
}
.customer{
    overflow-x: scroll;
    width: 100%;
    height: 340px;
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    color: rgba(0, 0, 0, 0.597);
}
.customer #span1,i,h3{
    color: black;
}
.customercontent{
    border: solid 1px rgba(0, 0, 0, 0.615);
    padding: 20px;
    margin-bottom: 10px;

}
.wcs{
    display: flex;
    flex-direction: column;
    
}
#span1{
    font-weight: 600;
}
#span3{
    float: right;
}
.wcsimg{
    width: 35px;
}
.customer a{
    display: inline-block;
    width: 350px;
    margin-top: 120px;
    /* margin-left: 10px; */
    text-decoration: none;
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
    

}
.customer i{
    margin-top: 8px;
    font-size: 20px;
}
.customer a span{
    color: black;
   

    
}
.section7content{
    display: flex;
    flex-direction: column;
}
.wcsbottom{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.customer::-webkit-scrollbar{
    width: 1px;
    border-radius: 10px;
    height: 10px;
}
.customer::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.244);
   
}
.customer::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
   

}
@media(max-width:760px){
    .navicon{
        display: none;
    }
    .labelicons{
        display: flex;
    }
    #closeicon{
        display: none;
    }
    #check:checked~.labelicons #menuicon{
        display: none;
    }
    #check:checked~.labelicons #closeicon{
        display: block;
    }
    #cart{
        display: none;
    }
    .nav{
      display: flex;
      justify-content: center;
        
    }
}
    
    
