*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}
header{
    background-color: #ff6c04;
    width: 100%;
    height: 4vh;
    overflow: hidden;
}
 .header{
    display: flex;
    width: 200%;
    height: 4vh;
    background-color: #ff6c04;
    animation: train 6s infinite;

 }
 @keyframes train{
    0%{
        margin-left:0%;
    }
    40%{
        margin-left:0%;
    }
    60%{
        margin-left:-100%;
    }
    100%{
        margin-left:-100%;
    }
}
.train{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.train>a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.1;  
}
.header>a:hover{
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 75px;
    font-size: 17px;
    background-color: white;
    transition: background-color .7s;
}
#check{
    display: none;  
}
.labelicons{
    position: absolute;
    right: 30px;
    font-size: 30px;
    display: none;
    cursor: pointer;  
}
.navicon{
    display: inline;
    padding: 5px 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.logo{
    width: 170px;
    margin-right: 100px;
}
.navlist{
    margin-left: -100px;
}
.icons3 i{
    font-size: 23px;
    padding-left: 13px;
}
#cart{
    font-size: 28px;
}
.section{
    width: 100%;
}
.section1image{
    width: 70%;
}
.section1image img{
    width: 100%;
}
.section1{
    display: flex;
    flex-wrap: nowrap;
    gap: 3%;
    align-items: center;
}
#section1head{
    font-weight: 400;
}
.section1content{
    width: 30%;
}
.section1content>h1{
    font-weight: 300;
    font-size: 35px
}
.section1content>button{
    background-color: black;
    color: white;
    border: solid black;
    width: 150px;
    height: 50px;
    transition: background-color 0.5s,color 0.5s,border 0.5s; 
}
.sectioncontent{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    gap: 30px;
}
.sectionimage>img{
    width: 300px;
}
.sectionheading{
    height: 150px;
}
.sectionheading>h1{
    padding-top: 60px;
    margin-left: 110px;
    font-size: 35px;
    font-weight: 450;
}
.sectionimage s{
    margin-left: 10px;
}
.sectionimage button{
    width: 300px;
    height: 50px;
    color: white;
    background-color: black;
    border: black solid;
    transition: background-color 0.5s,color 0.5s,border 0.5s;
}
.zoom img{
    width: 300px;
    transition: width 1s;
}
.zoom img:hover{
    width: 400px;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}
.slider{
    margin: 0% 10px;
    width: 80px;
    height: 7px;
    border-radius: 5px;
}
.slider-track{
    background-color: lightgrey;
    height: 7px;
    border-radius: 5px;
    width: 80px;
}
.slider-thumb{
    background-color: black;
    height: 7px;
    position: absolute;
    width: 40px;
    border-radius: 5px;
}
#leftarrow{
    color: grey;
}
#arrowbutton>button{
    background-color: white;
    color: black;
    outline: 1px black;
    width: 200px;
    height: 50px;
    align-items: center;
    transition: background-color 0.5s,color 0.5s,outline 0.5s;
}
#arrowbutton{
    display: flex;
    justify-content: center;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    text-align: center;
    gap: 20px;
    height: 275px;  
}
.flex img{
    height: 225px;
    transition: height .5s;
}
.flex img:hover{
    height:205px
}
.flex:has(#img32:hover) #name32{
    text-decoration: underline;
}
.flex:has(#img31:hover) #name31{
    text-decoration: underline;
}
.flex:has(#img33:hover) #name33{
    text-decoration: underline;
}
.flex:has(#img34:hover) #name34{
    text-decoration: underline;
}
.flex:has(#img42:hover) #name42{
    text-decoration: underline;
}
.flex:has(#img41:hover) #name41{
    text-decoration: underline;
}
.flex:has(#img43:hover) #name43{
    text-decoration: underline;
}
.flex:has(#img44:hover) #name44{
    text-decoration: underline;
}
.b5{
    margin-top: 35px;
}
.section6{
    margin-top: 150px;
    text-align: center;
}
.section6head>h1{
    letter-spacing: .5px;
    word-spacing: 7px;
    font-weight: 500;
}
.section6image{
    margin-top: 100px;
    padding: 0% 20px;
}
.section6image>img{
    width: 60px;
}
.section7image>img{
    width: 100%;
    outline: 1px solid rgba(200, 191, 191, 0.642);   
}
.section7image{
    text-align: center;
    height: 870px;
    width: 100%; 
}
.section7image button{
    width: 200px;
    height: 50px;
    font-size: 17px;
}
.section8{
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #1b1a1a;
    color: rgba(255, 255, 255, 0.642);
    border-bottom:solid rgba(255, 255, 255, 0.642);  
}
.sectionparts{
    padding: 0px 100px;
    width: 100%;
}
.section8 a{
    display: block;
    color: rgba(255, 255, 255, 0.642);
    line-height: 1.8;
}
.section8 a:hover{
    text-decoration: none;
}
.sectionpart3 a{
    text-decoration: underline;
    display: inline;
}
.sectionpart3 a:hover{
    text-decoration: underline;
}
.sectionpart3 i{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.262);
}
footer{
    margin-top: -17.6px;
    background-color: #1b1a1a;
    color:  rgba(255, 255, 255, 0.642);
    height: 100px;
}
footer p{
    margin-left: 100px;
    padding-top: 25px;
}
.customer{
    overflow-x: scroll;
    width: 100%;
    height: 340px;
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    color: rgba(0, 0, 0, 0.597);
}
.customer #span1,i,h3{
    color: black;
}
.customercontent{
    border: solid 1px rgba(0, 0, 0, 0.615);
    padding: 20px;
    margin-bottom: 10px;
}
.wcs{
    display: flex;
    flex-direction: column; 
}
#span1{
    font-weight: 600;
}
#span3{
    float: right;
}
.wcsimg{
    width: 35px;
}
.customer a{
    display: inline-block;
    width: 350px;
    margin-top: 120px;
    text-decoration: none;
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
}
.customer i{
    margin-top: 8px;
    font-size: 20px;
}
.customer a span{
    color: black;  
}
.section7content{
    display: flex;
    flex-direction: column;
}
.wcsbottom{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 8% 8% 0% 8%;
}
.customer::-webkit-scrollbar{
    width: 1px;
    height: 10px;
}
.customer::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.244);
}
.customer::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}
@media(max-width:1280px){
    .wcsbottom{
        flex-wrap: wrap;
    }
    p br{
        display: none;
    }
    .section8{
        flex-wrap: wrap;
    }
    .flex{
        flex-wrap: wrap;
    }
    .section1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .sectioncontent{
        flex-wrap: wrap;
        width: 100%;
    }
    .logo{
        margin-left: 35%;
    }
    #navicons{
        display: none;
        margin: 0%; 
    }
    .icons3{
        margin-left: 35vw;
        position: absolute;
        right: 2%;
    }
    .labelicons{
        display: flex;
        position: absolute;
        left: 2%;
        
    }
    #closeicon{
        display: none;
    }
    #check:checked~.labelicons #menuicon{
        display: none;
    }
    #check:checked~.labelicons #closeicon{
        display: block;
        position: absolute;
        left: 19%;
        margin-top: -60px;
        z-index: 100;
    }
    #check:checked~.navlist #navicons{
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0%;
        top: 0%;
        background-color: rgba(125, 125, 125, 0.966);
        
        height: 100vh;
        justify-content: start;
        gap: 5%;
        width: 25%;  
    }
    .nav{
      display: flex;  
    }
    .navicon{
        font-size: 12px;
    }
}
@media(max-width:760px){
    
    
    .icons3{
        margin-left: 35%;
    }
    .wcsbottom{
        flex-wrap: wrap;
    }
    .section8{
        flex-wrap: wrap;
    }
    .flex{
        flex-wrap: wrap;
    }
    .section1{
        flex-wrap: wrap;
    }
    .sectioncontent{
        flex-wrap: wrap;
    }
    .section1image{
        width: 100vw;
    }

  
}
@media(max-width:560px){
    .logo{
        margin-left: 20%;
    }
}

.section5image img,.section2image img{
    width: 300px;
    transition: width .7s;
}
.section5image img:hover,.section2image img:hover{
    width: 320px;
}

.section1 button:hover,.section2 button:hover,.section5 button:hover{
    background-color: white;
    border: solid  rgba(74, 72, 72, 0.642);
    color: black;
}
#arrowbutton>button:hover{
    /* outline: 1px solid  rgba(74, 72, 72, 0.642); */
    background-color: black;
    color: white;
}
.nav:hover{
    background-color: rgba(74, 72, 72, 0.158);
}
    
